
h1, h2 {
    text-align: center;
    padding: 70px 0;
}

button{
    color: black;
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 24px;
    background-color: #555555;
    color: white;
    position: relative;
}